<launch>
  <node pkg="project1" type="computing" name="velocity_comp" />
  <node pkg="project1" type="wheelSpeed" name="wheelSpeed_publisher"/>
  <node pkg="rosbag" type = "play" name="rosbag" args="/home/sinnanzi/robotics/src/Robotics-Project-1/src/bag1.bag" />
  <node pkg="project1" type="odometry" name="odometry_publisher" />
</launch>
