<launch>
  <node pkg="project1" type="computing" name="velocity_comp" />
  <node pkg="project1" type="WheelSpeed" name="wheelSpeed_publisher"/>
  <node pkg="project1" type="odometry" name="odometry_publisher" />
  <node pkg="project1" type="pose_resetter" name="reset" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom" args="0 0 0 0 0 0 1 world odom " />
</launch>
